/* *********************************************************** */
/* Global vars                                                 */
/* *********************************************************** */

:root {
	--color-primary: rgb(11, 100, 254);

	--color-code-panel: hsl(0, 0%, 87%);
	--color-positive: rgb(133, 203, 51);
	--color-negative: rgb(255, 101, 32);

	--color-page-bg: #f2f2f2;
	--color-body-text: rgb(0, 0, 0);
	--color-link: var(--color-primary);
}


/* *********************************************************** */
/* Page layout                                                 */
/* *********************************************************** */


html, body{
	font-family: "Poppins", sans-serif;
	margin: 0;
	height: 100%;
}
::selection {
	background: var(--color-primary);
	color: var(--color-page-bg);
}
a{
	color: var(--color-link);
}
body{
	background-color: var(--color-page-bg);
	color: var(--color-body-text);
	padding: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

main{
	width: 100%;
	margin: 0;
	display:flex;
	flex-grow: 1;
}

.map-container{
	width: 70%;
}
.config-container{
	padding-left: 1em;
	flex-grow: 1;
}

h1{
	font-size: 1.4em;
  	margin: 0 0 1em;
	font-weight: 500;
	color: var(--color-primary);
}

/* *********************************************************** */
/* Map                                                         */
/* *********************************************************** */

.map{
	width: 100%;
	height: 100%;
}

.marker{
	background: var(--color-primary);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px white;
}

/* *********************************************************** */
/* Code container                                              */
/* *********************************************************** */

.code-container{
	--border-radius: 6px;
}
.code-container nav{
	display:flex;
}
.code-container nav a{
	display:block;
	text-decoration: none;
	padding: 0.35em 0.7em 0.2em;
	background: none;
	color: black;
	font-weight: 500;
	margin-right: 0.3em;
	font-size: 0.9em;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}
.code-container nav a:hover{
	background: var(--color-code-panel);
}

.code-container[data-selected="csv"] [data-toggle="csv"],
.code-container[data-selected="geojson"] [data-toggle="geojson"]{
	background: var(--color-code-panel);
	font-weight: 600;
}

.code{
	background: var(--color-code-panel);
	width: 100%;
	min-height: 400px;
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.9em;
	font-weight:400;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border-top-left-radius: 0px;
	position: relative;
}

.code > textarea{
	--margin: 2px;
	background: white;
	padding: 0.3em;
	border-radius: calc(var(--border-radius) - var(--margin));
	inset: var(--margin);
	position: absolute;
	resize: none;
	border: none;
}
.code > textarea:focus{
	outline: none;
}
.code-container:focus-within .code,
.code-container:focus-within[data-selected="csv"] [data-toggle="csv"],
.code-container:focus-within[data-selected="geojson"] [data-toggle="geojson"]{
	background: var(--color-positive);
}


.code-container[data-selected="csv"] [data-code="geojson"],
.code-container[data-selected="geojson"] [data-code="csv"]{
	display: none;
}